h1 {
  text-align: center;
  margin-bottom: 30px;
}

.lista-produtos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.produto {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  gap: 30px;
}

.imagem-produto {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-produto img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.informacoes-produto {
  flex: 1;
}

.informacoes-produto h2 {
  margin-top: 0;
}

.informacoes-produto p {
  margin: 8px 0;
}
